html{
    scroll-behavior: smooth;
}
.full-screen{
 height: 200vh;
}
body{
    margin:0;
    background-color: rgba(230, 236, 236, 0.842);
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
}
.item1{
    background-color: rgba(0, 0, 0, 0.829);
    width: 350px;
    height: 100vh;
    position:fixed; 
}
 .item2{
    width: 750px;
    height: 500vh;
    position: relative;
    left: 390px;
    top:0px;
}
.container{
    position:relative;
    display:flexbox;
    
}
.container > div{
  
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.avatar{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 5px solid rgb(102, 164, 245);
    
}
.text1{
    color:rgba(66, 193, 243, 0.932);
    font-weight:bolder;
    text-shadow: 2px 2px 2px white;
}

.title{
    color:black;
    
    width: 300px;
    margin-left: 30%;
    margin-bottom: 10px;
    text-align:center;
    font-size:30px;
    font-weight: bolder;
    margin-top:5px;
}
.p1{
    color:rgb(78, 77, 77);
    font-size:16px; 
    font-weight:bolder;
    text-align: left;
    margin-left: 20px;
  
    
}
.p2{
    font-size:20px; 
    text-align: left;
}
.line1{
    border-bottom: 2px solid rgb(89, 200, 219);
    margin: 5px 100px;
}
a{ 
    color:rgb(137, 209, 238);
    text-decoration: none;
    display: inline-box;
    font-size: 25px;
}
section{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    background-color: white;
    overflow: hidden;
}
.container-Project{
    display:grid;
    grid-template-columns:  auto auto ;
    margin-left: 25px;
    padding: 10px;
    grid-gap: 20px ;
}
.item-Project{
    width: 350px;
    height: 250px;
    overflow: hidden;
    position:relative;
   
}
.img-Project{
    width: 350px;
    height: 250px;
    position:relative; 
    transition: all  0.5s ease-in-out;
}
.box-itemProject{
    width: 80%;
    position:absolute;
    text-align: center;
    color:white;
    box-sizing: border-box;
    bottom: 80px;
    left:30px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.text-Project{
    color:white;
    font-size: 20px;
    font-weight: bolder;  
}

.text-Project{
    color:white;
    font-size: 20px;
    font-weight: bolder;  
}
.img-Project:hover{
    transform:scale(1.2);
    opacity: 0.8;
}
.img-Project:hover ~.box-itemProject{
    transform: scale(1.2);
    opacity: 1;
}

.container-Blog{
    display:grid;
    grid-template-columns:  auto auto auto;
    margin-left: 20px;
    padding: 10px;
    grid-gap: 10px ;
}
.item-Blog{
    width: 230px;
    height: 350px;
    position:relative;
    background-color: pink;
}
.img-Blog{
    width: 230px;
    height: 350px;
}
.container-Contact{
    margin-left: 25px;
    padding: 10px;
    width: 70%;
}
.item-Contact{
    box-sizing: border-box;
    position:relative;
    margin-top:1rem;   
}
label{
    
    position:absolute;
    font-size: 1rem;
    text-align:start;
    
}
.form-control{
    border:none;
    border-bottom: 1px solid grey;
    background-color:white;
    outline:none;
    height:3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0px;
    padding:0;
    text-align: start;

}
.btn-submit{
    background-color:rgba(66, 193, 243, 0.932);
    width: 20%;
    height:30px;
}
a:hover{
  color:rgb(217, 236, 236);
}
.fa{
    color:rgb(104, 202, 206);
    display: inline-block;
    font-size: 50px;
    padding:10px 100px 5px;
}
.bar-skill{
   
    background-color:rgba(202, 231, 236, 0.637);
    height:6px;
    width: 90%;
    margin-left:20px ;
    position:relative;
}
.bar-skill-level{
    margin-bottom:0px;
    background-color:rgb(104, 225, 247);
 
    height:6px;
    margin-left: 0px;
    text-align: left;
    position:absolute;
}
span{
    text-align: left;
}
.p3{
    margin-bottom: 1px;
}



